
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <div>
        <div id="rotbtncontainer"></div>
        <div id="invrotbtncontainer"></div>
        <div id="doublerotbtncontainer"></div>
        <div id="specialbtncontainer"></div>
        <div>
          
          
        </div>
       
        <div style="color:red;" id="erroroutput"></div>
        <div rows="50" cols="170" id="outputinput"></div>
    </div>
    
    <!-- <textarea id="actionpanel"></textarea> -->

    <script src="https://cdn.jsdelivr.net/npm/quaternion@1.2.1/quaternion.js"></script>
    <script src="/static/js/package.js"></script>
</body>
</html>
