{% extends "maestra.html" %}
{% block titulo %}
Agregar detalle
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar detalle</h3>
            <form action="{{url_for('guardar_detalle')}}" method="post">
                <label for="servicios_id">Servicio ID:</label>
                <input required type="text" class="input" placeholder="servicios_id" name="servicios_id" id="servicios_id">
                <label for="comprobante_id">Comprobante ID:</label>
                <input required type="text" class="input" placeholder="comprobante_id" name="comprobante_id" id="comprobante_id">
                <label for="monto">monto:</label>
                <input required type="text" class="input" placeholder="monto" name="monto" id="monto">               
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('detalle')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}