{% extends "maestra.html" %}
{% block titulo %}
Agregar transaccion
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar transaccion</h3>
            <form action="{{url_for('guardar_transaccion')}}" method="post">
                <label for="codigo">Fecha registro:</label>
                <input required type="date" class="input" placeholder="Fecha registro" name="fecha_registro" id="fecha_registro">
                <label for="nombre">Hora registro:</label>
                <input required type="time" class="input" placeholder="Hora registro" name="hora_registro" id="hora_registro">
                <label for="tipo_transaccion">Tipo transaccion:</label>
                <select required class="select" name="tipo_transaccion" id="tipo_transaccion">
                    <option value="E">Efectivo</option>
                    <option value="T">Tarjeta</option>
                    <option value="Y">Yape</option>
                </select>
                <label for="fecha_entrada">Fecha entrada:</label>
                <input required type="date" class="input" placeholder="Fecha entrada" name="fecha_entrada" id="fecha_entrada">
                <label for="hora_entrada">Hora entrada:</label>
                <input required type="time" class="input" placeholder="Hora entrada" name="hora_entrada" id="hora_entrada">
                <label for="fecha_salida">Fecha salida:</label>
                <input required type="date" class="input" placeholder="Fecha salida" name="fecha_salida" id="fecha_salida">
                <label for="hora_salida">Hora salida:</label>
                <input required type="time" class="input" placeholder="Hora salida" name="hora_salida" id="hora_salida">
                <label for="habitacion_id">Nº Habitacion:</label>
                <select required class="select" name="habitacion_id" id="habitacion_id">
                    {% for habitacion in habitacion %}
                        <option value="{{ habitacion[0] }}">{{ habitacion[0] }}</option>
                    {% endfor %}
                </select>
                <label for="persona_id">Dni:</label>
                <select required class="select" name="persona_id" id="persona_id">
                    {% for personas in personas %}
                        <option value="{{ personas[0] }}">{{ personas[1] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('transaccion')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}

