{% extends "maestra.html" %}
{% block titulo %}
Agregar comprobante
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar comprobante</h3>
            <form action="{{url_for('guardar_comprobante')}}" method="post">
                <label for="codigo">Tipo de comprobante:</label>
                <input required type="text" class="input" placeholder="tipo_comprobante" name="tipo_comprobante" id="tipo_comprobante">
                <label for="nombre">Número de comprobante:</label>
                <input required type="text" class="input" placeholder="numero_comprobante" name="numero_comprobante" id="numero_comprobante">
                <label for="fecha_comprobante">Fecha de comprobante:</label>
                <input required type="date" class="input" placeholder="fecha_comprobante" name="fecha_comprobante" id="fecha_comprobante">
                <label for="monto_total">Monto total:</label>
                <input required type="text" class="input" placeholder="monto_total" name="monto_total" id="monto_total">
                <label for="transaccion_id">Transaccion id:</label>
                <input required type="text" class="input" placeholder="transaccion_id" name="transaccion_id" id="transaccion_id">
                <label for="persona_id">Persona id:</label>
                <input required type="text" class="input" placeholder="persona_id" name="persona_id" id="persona_id">

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('comprobante')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}