{% extends "maestra.html" %}
{% block titulo %}
Agregar detalle_servicios
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar detalle_servicios</h3>
            <form action="{{url_for('guardar_detalle_servicios')}}" method="post">
                <label for="fecha_solicitud">Fecha:</label>
                <input required type="date" class="input" placeholder="fecha_solicitud" name="fecha_solicitud" id="fecha_solicitud">
                <label for="hora_solicitud">Hora:</label>
                <input required type="time" class="input" placeholder="hora_solicitud" name="hora_solicitud" id="hora_solicitud">
                <label for="descripcion_solicitud">Descripción:</label>
                <input required type="text" class="input" placeholder="descripcion_solicitud" name="descripcion_solicitud" id="descripcion_solicitud">
                <label for="monto_servicio">Monto:</label>
                <input required type="number" class="input" placeholder="monto_servicio" name="monto_servicio" id="monto_servicio">
                <label for="transaccion_id">Transacciòn:</label>
                <input required type="number" class="input" placeholder="transaccion_id" name="transaccion_id" id="transaccion_id">
                <label for="servicio_id">Servicio:</label>
                <select required class="select" name="servicio_id" id="servicio_id">
                    {% for servicio in servicios %}
                        <option value="{{ servicio[0] }}">{{ servicio[1] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('detalle_servicios')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}