{% extends "maestra.html" %}
{% block titulo %} categoria_habitacion {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Categoria habitacion</h3>
            <a href="{{url_for('formulario_agregar_categoria_habitacion')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria_habitacio in categoria_habitacion %}
                    <tr>
                        <td>{{categoria_habitacio[1]}}</td>
                        <td>{{categoria_habitacio[2]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en categoria_habitacio[0] #}
                            <a href="{{url_for('editar_categoria_habitacion', id=categoria_habitacio[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_categoria_habitacion')}}" method="POST">
                                <input type="hidden" name="id" value="{{categoria_habitacio[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}