{% extends "maestra.html" %}
{% block titulo %} comprobante {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Comprobante</h3>
            <a href="{{url_for('formulario_agregar_comprobante')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo comprobante</th>
                        <th>Numero comprobante</th>
                        <th>Fecha comprobante</th>
                        <th>Monto total</th>
                        <th>Transaccion id</th>
                        <th>Persona id</th>

                    </tr>
                </thead>
                <tbody>
                    {% for comprobante in comprobante %}
                    <tr>
                        <td>{{comprobante[1]}}</td>
                        <td>{{comprobante[2]}}</td>
                        <td>{{comprobante[3]}}</td>
                        <td>{{comprobante[4]}}</td>
                        <td>{{comprobante[5]}}</td>
                        <td>{{comprobante[6]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en Comprobante[0] #}
                            <a href="{{url_for('editar_comprobante', id=comprobante[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_comprobante')}}" method="POST">
                                <input type="hidden" name="id" value="{{comprobante[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}