{% extends "maestra.html" %}
{% block titulo %} Detalle comprobante {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Detalle comprobante</h3>
            <a href="{{url_for('formulario_agregar_detalle')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Servicio ID</th>
                        <th>Comprobante ID</th>
                        <th>Monto</th>
                        
                       
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalle %}
                    <tr>

                        <td>{{detalle[0]}}</td>
                        <td>{{detalle[1]}}</td>
                        <td>{{detalle[2]}}</td>
                        
                        <td>
                            {# Pasar el id (lo que hay en detalle[0] #}
                            <a href="{{url_for('editar_detalle', id=detalle[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_detalle')}}" method="POST">
                                <input type="hidden" name="servicios_id" value="{{detalle[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}