{% extends "maestra.html" %}
{% block titulo %} detalle_servicios {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Detalle Servicio</h3>
            <a href="{{url_for('formulario_agregar_detalle_servicios')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Descripción</th>
                        <th>Monto</th>
                        <th>Transacciòn</th>
                        <th>Servicio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle_servicio in detalle_servicios %}
                    <tr>
                        <td>{{detalle_servicio[1]}}</td>
                        <td>{{detalle_servicio[2]}}</td>
                        <td>{{detalle_servicio[3]}}</td>
                        <td>{{detalle_servicio[4]}}</td>
                        <td>{{detalle_servicio[5]}}</td>
                        <td>{{detalle_servicio[6]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en detalle_servicio[0] #}
                            <a href="{{url_for('editar_detalle_servicios', id=detalle_servicio[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_detalle_servicios')}}" method="POST">
                                <input type="hidden" name="id" value="{{detalle_servicio[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}