{% extends "maestra.html" %}
{% block titulo %} Documentacion Categorías Habititacion {% endblock %}
{% block contenido %}

<section class="section_docu">
<body class="docu">
    <div class="navbar2 is-warning" >
        <div class="navbar2-menu">
            <div class="navbar2-start">
                <a class="navbar2-item"  href="{{url_for('documentacion_habitacion')}}">Habitación</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_personas')}}">Persona</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_categoria_habitacion')}}">Categoria Habitacion</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_transaccion')}}">Transacción</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_servicio')}}">Servicio</a>
                <a class="navbar2-item"  href="{{url_for('docu_detalle_servicios')}}">D. Servicio</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_detalle_alojamiento')}}">D. Alojamiento</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_comprobante')}}">Comprobante</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_detalle')}}">D. Comprobante</a>
            </div>

        </div>
    </div>

    <h1>Detalle Comprobante</h1>
    <p>Métodos para registrar los detalle de comprobantes que adquirio el huesped en el hotel.</p>

    <h2>Obtener todos los detalles de los comprobantes</h2>
    <p>Este método te permite obtener todos los detalles de los comprobantes registrados en el hotel.</p>
    <table class="custom-table">
        <tr>
            <td colspan="2"> <b>HTTP Request (GET)</b></td>
            <td colspan="2">https://grupo3.pythonanywhere.com/api_obtenerdetalles</td>
        </tr>
        <tr>
            <td colspan="4">No es necesario preparar un cuerpo en la solicitud</td>
        </tr>
        <tr>
            <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
            <td colspan="2">
                [ <br>
                { <br>
                    "comprobante_id": 2, <br>
                    "monto": "10.00", <br>
                    "servicios_id": 1 <br>
                }, <br>
                {
                    "comprobante_id": 1, <br>
                    "monto": "50.00", <br>
                    "servicios_id": 2 <br>
                }, <br>
                {<br>
                    "comprobante_id": 2,<br>
                    "monto": "500.00",<br>
                    "servicios_id": 3 <br>
                },
                {<br>
                    "comprobante_id": 2,<br>
                    "monto": "510.00",<br>
                    "servicios_id": 4 <br>
                },<br>
                {
                    "comprobante_id": 1,<br>
                    "monto": "240.00",<br>
                    "servicios_id": 6 <br>
                } <br>
                ]</td>
            <td colspan="2">El cuerpo de respuesta,
                manifiesta todos los elementos
                pedidos con siete campos, a través
                de un JSON array. <br>
                Donde: <br>
                comprobante_id: Es la foranea de comprobante <br>
                monto: Es el total de dinero que registra <br>
                servicios_id: Es la foranea de servicio <br>
            </td>
        </tr>
    </table>
    <h2>Obtener detalle comprobante por id</h2>
    <p>Este método te permite obtener un detalle comprobante registrado en el hotel.</p>
    <table class="custom-table">
        <tr>
            <td colspan="2"> <b>HTTP Request (GET)</b></td>
            <td colspan="2">https://grupo3.pythonanywhere.com/api_obtenerdetalle/1</td>
        </tr>
        <tr>
            <td colspan="4">No es necesario preparar un cuerpo en la solicitud</td>
        </tr>
        <tr>
            <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
            <td colspan="2">
                [ <br>
                { <br>
                    "comprobante_id": 2, <br>
                    "monto": "10.00",<br>
                    "servicios_id": 1 <br>
                } <br>
                ] </td>
            <td colspan="2">El cuerpo de respuesta,
                manifiesta todos los elementos
                pedidos con siete campos, a través
                de un JSON array. <br>
                Donde: <br>
                comprobante_id: Es la foranea de comprobante <br>
                monto: Es el total de dinero que registra <br>
                servicios_id: Es la foranea de servicio <br>
            </td>
        </tr>
    </table>
    <h2>Guardar detalle comprobante</h2>
    <p>Este método te permite crear un detalle comprobante nuevo.</p>
    <table class="custom-table">
        <tr>
            <td colspan="2"> <b>HTTP Request (POST)</b></td>
            <td colspan="2">https://grupo3.pythonanywhere.com/api_guardardetalle</td>
        </tr>
        <tr>
            <td colspan="2">{
                { <br>
                    "comprobante_id": 4, <br>
                    "monto": "150.00", <br>
                    "servicios_id": 2 <br>
                } <br>
                }</td>
            <td colspan="2">El cuerpo de solicitud,
                manifiesta todos los elementos
                a pedir con seis campos, a través
                de un JSON array. Aqui no se coloca el campo id, el sistema se encargará de asignarle el id
                correspondiente.<br>
                Donde: <br>
                comprobante_id: Es la foranea de comprobante <br>
                monto: Es el total de dinero que registra <br>
                servicios_id: Es la foranea de servicio <br>
        </tr>
        <tr>
            <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
            <td colspan="2">{
                "Mensaje": "Detalle Comprobante registrado correctamente"
                }</td>
            <td colspan="2">El cuerpo de respuesta,
                manifiesta que el detalle comprobante ha sido
                registrado correctamente.
                Donde
                Mensaje: Es la respuesta de la
                lógica de negocio de detalle comprobante.</td>
        </tr>
    </table>
    <h2>Actualizar detalle comprobante</h2>
    <p>Este método te permite actualizar un detalle comprobante nuevo.</p>
    <table class="custom-table">
        <tr>
            <td colspan="2"> <b>HTTP Request (POST)</b></td>
            <td colspan="2">https://grupo3.pythonanywhere.com/api_actualizardetalle</td>
        </tr>
        <tr>
            <td colspan="2">
                { <br>
                    "comprobante_id": 2, <br>
                    "monto": "150.00", <br>
                    "servicios_id": 2 <br>
                }</td>
            <td colspan="2">El cuerpo de solicitud,
                manifiesta todos los elementos
                a pedir con siete campos, a través
                de un JSON array. Aqui se coloca id del detalle comprobante a actualizar.<br>
                Donde: <br>
                comprobante_id: Es la foranea de comprobante <br>
                monto: Es el total de dinero que registra <br>
                servicios_id: Es la foranea de servicio <br>
        </tr>
        <tr>
            <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
            <td colspan="2">{
                "Mensaje": "Detalle Comprobante actualizado correctamente"
                }</td>
            <td colspan="2">El cuerpo de respuesta,
                manifiesta que el detalle comprobante ha sido
                actualizado correctamente.
                Donde
                Mensaje: Es la respuesta de la
                lógica de negocio de detalle comprobante.</td>
        </tr>
    </table>
    <h2>Eliminar detalle comprobante</h2>
    <p>Este método te permite eliminar un detalle comprobante.</p>
    <table class="custom-table">
        <tr>
            <td colspan="2"> <b>HTTP Request (POST)</b></td>
            <td colspan="2">https://grupo3.pythonanywhere.com/api_eliminardetalle</td>
        </tr>
        <tr>
            <td colspan="2">
                { <br>
                    "servicios_id": 2 <br>
                } <br>
            </td>
            <td colspan="2">El cuerpo de solicitud,
                manifiesta todos los elementos
                a pedir con un campo. Aqui se coloca id del detalle comprobante a eliminar.<br>
                Donde <br>
                id: Es la identificación del detalle comprobante. <br>
        </tr>
        <tr>
            <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
            <td colspan="2">{
                "Mensaje": "Detalle Comprobante eliminado correctamente"
                }</td>
            <td colspan="2">El cuerpo de respuesta,
                manifiesta que el detalle comprobante ha sido
                eliminado correctamente.
                Donde
                Mensaje: Es la respuesta de la
                lógica de negocio de detalle comprobante.</td>
        </tr>
    </table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var currentURL = window.location.href;
            $('.navbar2-item').each(function() {
                if (currentURL.indexOf($(this).attr('href')) > -1) {
                    $(this).addClass('active');
                }

            });




/*function adjustBoardSize() {
    var boardSize = Math.min($(window).width(), $(window).height()) * 0.5;
    $("table").css("width", boardSize);
    $("table").css("height", boardSize);
  }

  adjustBoardSize();*/
        });
    </script>
</body>
</section>
{% endblock %}