{% extends "maestra.html" %}
{% block titulo %}
Agregar detalle_servicios
{% endblock %}
{% block contenido %}

<section class="section_docu">
<body class="docu">
    <div class="navbar2 is-warning" >
        <div class="navbar2-menu">
            <div class="navbar2-start">
                <a class="navbar2-item"  href="{{url_for('documentacion_habitacion')}}">Habitación</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_personas')}}">Persona</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_categoria_habitacion')}}">Categoria Habitacion</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_transaccion')}}">Transacción</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_servicio')}}">Servicio</a>
                <a class="navbar2-item"  href="{{url_for('docu_detalle_servicios')}}">D. Servicio</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_detalle_alojamiento')}}">D. Alojamiento</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_comprobante')}}">Comprobante</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_detalle')}}">D. Comprobante</a>
            </div>

        </div>
    </div>
  <h1>Transaccion</h1>
  <p>Métodos para registrar las transacciones que genera el huesped en el hotel.</p>
  <h2>Obtener todos las transacciones</h2>
  <p>Este método te permite obtener todos las transacciones  registradas en el hotel.</p>
  <table class="custom-table">
    <tr>
      <td colspan="2"> <b>HTTP Request (GET)</b></td>
      <td colspan="2">https://grupo3.pythonanywhere.com/api_obtenertransacciones</td>
    </tr>
    <tr>
      <td colspan="4">No es necesario preparar un cuerpo en la solicitud</td>
    </tr>
    <tr>
      <td colspan="4"> <b>RESPONSE</b></td>
    </tr>
    <tr>
      <td colspan="2">
        [ <br>
        { <br>
        "fecha_registro": "2023-07-01", <br>
        "fecha_salida": "2023-06-30",<br>
        "hora_solicitud": "11:30:00", <br>
        "habitacion_id": 6, <br>
        "hora_entrada": "12:20:00", <br>
        "hora_registro": "12:30:00", <br>
        "hora_salida": "12:20:00", <br>
        "id": 1, <br>
        "persona_id": 4, <br>
        "tipo_transaccion": "E" <br>
    }, <br>
    { <br>

        "fecha_entrada": "2023-06-20", <br>
        "fecha_registro": "2023-06-10",<br>
        "fecha_salida": "2023-06-30", <br>
        "habitacion_id": 6, <br>
        "hora_entrada": "12:30:00", <br>
        "hora_registro": "12:59:00", <br>
        "hora_salida": "12:30:00",<br>
        "id": 2, <br>
        "persona_id": 4, <br>
        "tipo_transaccion": "E" <br>

    } <br>
]</td>
      <td colspan="2">El cuerpo de respuesta,
        manifiesta todos los elementos
        pedidos con diez campos, a través
        de un JSON array. <br>
        Donde <br>
        fecha_entrada: Es la fecha en la que ingreso del huesped en el hotel. <br>
        fecha_registro: Es la fecha en la que registro del huesped en el hotel. <br>
        fecha_salida:  Es la fecha en la que saldra el huesped en el hotel.  <br>
        habitacion_id: Es la identificación de la habitacion que se va detallar en la transaccion. <br>
        hora_entrada: Es la hora en la que ingreso del huesped en el hotel.<br>
        hora_registro: Es la hora en la que registro del huesped en el hotel. <br>
        hora_salida: Es la hora en la que saldra el huesped en el hotel.<br>
        id: Es la identificación del servicio que se va a detallar. <br>
        persona_id: Es la identificación de la hpersona que se va detallar en la transaccion. <br>
        tipo_transaccion: Es la variable escrita de sobre el tipo de transaccion que se va realizar.
      </td>
    </tr>
  </table>
      <h2>Obtener detalle transaccion por id</h2>
      <p>Este método te permite obtener una transaccion generada por el hotel.</p>
      <table class="custom-table">
        <tr>
          <td colspan="2"> <b>HTTP Request (GET)</b></td>
          <td colspan="2">https://grupo3.pythonanywhere.com/api_obtenertransaccion/1</td>
        </tr>
        <tr>
          <td colspan="4">No es necesario preparar un cuerpo en la solicitud</td>
        </tr>
        <tr>
          <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
          <td colspan="2">
            [ <br>
            { <br>

                fecha_entrada": "2023-07-19 <br>
                    "fecha_registro": "2023-07-01",<br>
                    "fecha_salida": "2023-06-30", <br>
                    "habitacion_id": 6,<br>
                    "hora_entrada": "12:20:00", <br>
                    "hora_registro": "12:30:00", <br>
                    "hora_salida": "12:20:00", <br>
                    "id": 1, <br>
                    "persona_id": 4,<br>
                    "tipo_transaccion": "E"<br>
        }<br>
    ] </td>
          <td colspan="2">El cuerpo de respuesta,
            manifiesta todos los elementos
            pedidos con diez campos, a través
            de un JSON array. <br>
            Donde <br>
        fecha_entrada: Es la fecha en la que ingreso del huesped en el hotel. <br>
        fecha_registro: Es la fecha en la que registro del huesped en el hotel. <br>
        fecha_salida:  Es la fecha en la que saldra el huesped en el hotel.  <br>
        habitacion_id: Es la identificación de la habitacion que se va detallar en la transaccion. <br>
        hora_entrada: Es la hora en la que ingreso del huesped en el hotel.<br>
        hora_registro: Es la hora en la que registro del huesped en el hotel. <br>
        hora_salida: Es la hora en la que saldra el huesped en el hotel.<br>
        id: Es la identificación del servicio que se va a detallar. <br>
        persona_id: Es la identificación de la hpersona que se va detallar en la transaccion. <br>
        tipo_transaccion: Es la variable escrita de sobre el tipo de transaccion que se va realizar.
          </td>
        </tr>
      </table>
      <h2>Guardar transaccion</h2>
      <p>Este método te permite crear una transaccion nueva.</p>
      <table class="custom-table">
        <tr>
          <td colspan="2"> <b>HTTP Request (POST)</b></td>
          <td colspan="2">https://grupo3.pythonanywhere.com/api_guardartransaccion</td>
        </tr>
        <tr>

          <td colspan="2">{<br>
            "fecha_entrada": "2023-06-20", <br>
            "fecha_registro": "2023-06-10", <br>
            "fecha_salida": "2023-06-30", <br>
            "habitacion_id": 6, <br>
            "hora_entrada": "12:30:00", <br>
            "hora_registro": "12:59:00",<br>
            "hora_salida": "12:30:00", <br>
            "persona_id": 4, <br>
            "tipo_transaccion": "E"<br>
            }</td>
            <td colspan="2">El cuerpo de solicitud,
                manifiesta todos los elementos
                a pedir con nueve campos, a través
                de un JSON array. Aqui no se coloca el campo id, el sistema se encargará de asignarle el id correspondiente.<br>
                Donde <br>
        fecha_entrada: Es la fecha en la que ingreso del huesped en el hotel. <br>
        fecha_registro: Es la fecha en la que registro del huesped en el hotel. <br>
        fecha_salida:  Es la fecha en la que saldra el huesped en el hotel.  <br>
        habitacion_id: Es la identificación de la habitacion que se va detallar en la transaccion. <br>
        hora_entrada: Es la hora en la que ingreso del huesped en el hotel.<br>
        hora_registro: Es la hora en la que registro del huesped en el hotel. <br>
        hora_salida: Es la hora en la que saldra el huesped en el hotel.<br>
        id: Es la identificación del servicio que se va a detallar. <br>
        persona_id: Es la identificación de la hpersona que se va detallar en la transaccion. <br>
        tipo_transaccion: Es la variable escrita de sobre el tipo de transaccion que se va realizar.
        </tr>
        <tr>
          <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
          <td colspan="2">{
            "Mensaje": "Detalles de transaccion registrado correctamente"
        }</td>
          <td colspan="2">El cuerpo de respuesta,
            manifiesta que la transaccion ha sido
            registrado correctamente.
            Donde
            Mensaje: Es la respuesta de la
            lógica de negocio de la transaccion</td>
        </tr>
      </table>
          <h2>Actualizar transaccion</h2>
          <p>Este método te permite actualizar una transaccion nuevo.</p>
          <table class="custom-table">
            <tr>
              <td colspan="2"> <b>HTTP Request (POST)</b></td>
              <td colspan="2">https://grupo3.pythonanywhere.com/api_actualizartransaccion</td>
            </tr>
            <tr>
              <td colspan="2">
                {<br>

                "id": 1, <br>
                "fecha_entrada": "2023-07-19", <br>
                "fecha_registro": "2023-07-01", <br>
                "fecha_salida": "2023-06-20", <br>
                "habitacion_id": 6, <br>
                "hora_entrada": "12:20:00", <br>
                "hora_registro": "12:30:00",<br>
                "hora_salida": "12:20:00", <br>
                "persona_id": 4, <br>
                "tipo_transaccion": "E"<br>
                }</td>
                <td colspan="2">El cuerpo de solicitud,
                    manifiesta todos los elementos
                    a pedir con diez campos, a través
                    de un JSON array. Aqui se coloca id de la transaccion a actualizar.<br>
                    Donde <br>
        id: Es la identificación del servicio que se va a detallar. <br>
        fecha_entrada: Es la fecha en la que ingreso del huesped en el hotel. <br>
        fecha_registro: Es la fecha en la que registro del huesped en el hotel. <br>
        fecha_salida:  Es la fecha en la que saldra el huesped en el hotel.  <br>
        habitacion_id: Es la identificación de la habitacion que se va detallar en la transaccion. <br>
        hora_entrada: Es la hora en la que ingreso del huesped en el hotel.<br>
        hora_registro: Es la hora en la que registro del huesped en el hotel. <br>
        hora_salida: Es la hora en la que saldra el huesped en el hotel.<br>
        persona_id: Es la identificación de la hpersona que se va detallar en la transaccion. <br>
        tipo_transaccion: Es la variable escrita de sobre el tipo de transaccion que se va realizar.
                </td>
            </tr>
            <tr>
              <td colspan="4"> <b>RESPONSE</b></td>
            </tr>
            <tr>
              <td colspan="2">{
                "Mensaje": "Transaccion actualizada correctamente"
            }</td>
              <td colspan="2">El cuerpo de respuesta,
                manifiesta que la transaccion ha sido
                actualizado correctamente.
                Donde
                Mensaje: Es la respuesta de la
                lógica de negocio de la transaccion.</td>
            </tr>
          </table>
              <h2>Eliminar Transaccion</h2>
              <p>Este método te permite eliminar una transaccion.</p>
              <table class="custom-table">
                <tr>
                  <td colspan="2"> <b>HTTP Request (POST)</b></td>
                  <td colspan="2">https://grupo3.pythonanywhere.com/api_eliminartransaccion</td>
                </tr>
                <tr>
                  <td colspan="2">
                    {<br>
                    "id":3, <br>
                    }</td>
                    <td colspan="2">El cuerpo de solicitud,
                        manifiesta todos los elementos
                        a pedir con un campo. Aqui se coloca id de la transaccion a eliminar.<br>
                        Donde <br>
                        id: Es la identificación de la transaccion. <br>
                </tr>
                <tr>
                  <td colspan="4"> <b>RESPONSE</b></td>
                </tr>
                <tr>
                  <td colspan="2">{
                    "Mensaje": "Transaccion eliminada correctamente"
                }</td>
                  <td colspan="2">El cuerpo de respuesta,
                    manifiesta que la transaccion ha sido
                    eliminado correctamente.
                    Donde
                    Mensaje: Es la respuesta de la
                    lógica de negocio de la transaccion.</td>
                </tr>
              </table>

               <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       $(document).ready(function() {
            var currentURL = window.location.href;
            $('.navbar2-item').each(function() {
                if (currentURL.indexOf($(this).attr('href')) > -1) {
                    $(this).addClass('active');
                }
            });


/*function adjustBoardSize() {
    var boardSize = Math.min($(window).width(), $(window).height()) * 0.5;
    $("table").css("width", boardSize);
    $("table").css("height", boardSize);
  }

  adjustBoardSize();*/
        });
    </script>
</body>
</section>
{% endblock %}
