{% extends "maestra.html" %}
{% block titulo %} Agregar Persona {% endblock %}
{% block contenido %}

<section class="section_docu">
<body class="docu">
    <div class="navbar2 is-warning" >
        <div class="navbar2-menu">
            <div class="navbar2-start">
                 <a class="navbar2-item"  href="{{url_for('documentacion_habitacion')}}">Habitación</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_personas')}}">Persona</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_categoria_habitacion')}}">Categoria Habitacion</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_transaccion')}}">Transacción</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_servicio')}}">Servicio</a>
                <a class="navbar2-item"  href="{{url_for('docu_detalle_servicios')}}">D. Servicio</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_detalle_alojamiento')}}">D. Alojamiento</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_comprobante')}}">Comprobante</a>
                <a class="navbar2-item"  href="{{url_for('documentacion_detalle')}}">D. Comprobante</a>
            </div>

        </div>
    </div>
  <h1>Persona</h1>
  <p>Métodos para registrar las personas que tiene el hotel para el huesped.</p>
  <h2>Obtener todas las personas</h2>
  <p>Este método te permite obtener todas las personas registradas por el hotel.</p>
  <table class="custom-table">
    <tr>
      <td colspan="2"> <b>HTTP Request (GET)</b></td>
      <td colspan="2">https://grupo3.pythonanywhere.com/api_obtener_personas</td>
    </tr>
    <tr>
      <td colspan="4">No es necesario preparar un cuerpo en la solicitud</td>
    </tr>
    <tr>
      <td colspan="4"> <b>RESPONSE</b></td>
    </tr>
    <tr>
      <td colspan="2">
        [ <br>
        { <br>

            "apellidos": "Soplapuco Tavara",<br>
            "dni": "72651445",<br>
            "fecha_ingreso": "Thu, 04 May 2023 00:00:00 GMT",<br>
            "fecha_salida": "Tue, 30 May 2023 00:00:00 GMT",<br>
            "nombres": "Ivanna",<br>
            "numero_telefono": "930396504",<br>
            "persona_id": 4,<br>
            "sexo": "F"<br>
    }, <br>
    { <br>
            "apellidos": "Becerra Rodas",<br>
            "dni": "72228294",<br>
            "fecha_ingreso": "Mon, 09 Mar 2020 00:00:00 GMT",<br>
            "fecha_salida": "Tue, 27 Dec 2022 00:00:00 GMT",<br>
            "nombres": "Jorge ",<br>
            "numero_telefono": "946951631",<br>
            "persona_id": 8,<br>
            "sexo": "M"<br>
    }, <br>
    { <br>
            "apellidos": "Sanchez Cieza",<br>
            "dni": "74435538",<br>
            "fecha_ingreso": "Thu, 25 May 2023 00:00:00 GMT",<br>
            "fecha_salida": "Thu, 01 Jun 2023 00:00:00 GMT",<br>
            "nombres": "Cinthia",<br>
            "numero_telefono": "930245504",<br>
            "persona_id": 10,<br>
            "sexo": "F"<br>
    } <br>
]</td>
      <td colspan="2">El cuerpo de respuesta,
        manifiesta todos los elementos
        pedidos con ocho campos, a través
        de un JSON array. <br>
        Donde <br>
        apellidos: Son los apellidos de la persona<br>
        dni: Es el numero(8 digitos) del documento nacional de identidad de la persona<br>
        fecha_ingreso: Es la fecha en la que ingreso la persona al hotel<br>
        fecha_salida: Es la fecha en la que salio la persona del hotel<br>
        nombres: Son los nombres de la persona<br>
        numero_telefono: Es el numero de telefono(9 digitos) de la persona<br>
        persona_id: Es la identificacion de la persona<br>
        sexo: Es el sexo de la persona<br>
      </td>
    </tr>
  </table>
      <h2>Obtener persona por id</h2>
      <p>Este método te permite obtener una persona registrada en el hotel.</p>
      <table class="custom-table">
        <tr>
          <td colspan="2"> <b>HTTP Request (GET)</b></td>
          <td colspan="2">https://grupo3.pythonanywhere.com/api_obtenerpersona/12</td>
        </tr>
        <tr>
          <td colspan="4">No es necesario preparar un cuerpo en la solicitud</td>
        </tr>
        <tr>
          <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
          <td colspan="2">
            [ <br>
            { <br>
            "apellidos": "Puelles Diaz",<br>
            "dni": "73221822",<br>
            "fecha_ingreso": "Fri, 03 Mar 2023 00:00:00 GMT",<br>
            "fecha_salida": "Thu, 30 Mar 2023 00:00:00 GMT",<br>
            "nombres": "Jayr",<br>
            "numero_telefono": "937602402",<br>
            "persona_id": 12,<br>
            "sexo": "M"<br>
        }
    ] </td>
          <td colspan="2">El cuerpo de respuesta,
            manifiesta todos los elementos
            pedidos con ocho campos, a través
            de un JSON array. <br>
            Donde <br>
            apellidos: Son los apellidos de la persona<br>
            dni: Es el numero(8 digitos) del documento nacional de identidad de la persona<br>
            fecha_ingreso: Es la fecha en la que ingreso la persona al hotel<br>
            fecha_salida: Es la fecha en la que salio la persona del hotel<br>
            nombres: Son los nombres de la persona<br>
            numero_telefono: Es el numero de telefono(9 digitos) de la persona<br>
            persona_id: Es la identificacion de la persona<br>
            sexo: Es el sexo de la persona<br>
          </td>
        </tr>
      </table>
      <h2>Guardar persona</h2>
      <p>Este método te permite crear una persona nueva.</p>
      <table class="custom-table">
        <tr>
          <td colspan="2"> <b>HTTP Request (POST)</b></td>
          <td colspan="2">https://grupo3.pythonanywhere.com/api_guardar_persona</td>
        </tr>
        <tr>
          <td colspan="2">{
            "apellidos": "Puelles Diaz",<br>
            "dni": "73221822",<br>
            "fecha_ingreso": "Fri, 03 Mar 2023 00:00:00 GMT",<br>
            "fecha_salida": "Thu, 30 Mar 2023 00:00:00 GMT",<br>
            "nombres": "Jayr",<br>
            "numero_telefono": "937602402",<br>
            "persona_id": 12,<br>
            "sexo": "M"<br>
            }</td>
            <td colspan="2">El cuerpo de solicitud,
                manifiesta todos los elementos
                a pedir con ocho campos, a través
                de un JSON array. Aqui no se coloca el campo id, el sistema se encargará de asignarle el id correspondiente.<br>
                Donde <br>
                apellidos: Son los apellidos de la persona<br>
                dni: Es el numero(8 digitos) del documento nacional de identidad de la persona<br>
                fecha_ingreso: Es la fecha en la que ingreso la persona al hotel<br>
                fecha_salida: Es la fecha en la que salio la persona del hotel<br>
                nombres: Son los nombres de la persona<br>
                numero_telefono: Es el numero de telefono(9 digitos) de la persona<br>
                persona_id: Es la identificacion de la persona<br>
                sexo: Es el sexo de la persona<br>

        </td>
        </tr>
        <tr>
          <td colspan="4"> <b>RESPONSE</b></td>
        </tr>
        <tr>
          <td colspan="2">{
            "Mensaje": "Persona registrada correctamente"
        }</td>
          <td colspan="2">El cuerpo de respuesta,
            manifiesta que la persona ha sido
            registrada correctamente.
            Donde
            Mensaje: Es la respuesta de la
            lógica de negocio de persona.</td>
        </tr>
      </table>
          <h2>Actualizar persona</h2>
          <p>Este método te permite actualizar una persona nueva.</p>
          <table class="custom-table">
            <tr>
              <td colspan="2"> <b>HTTP Request (POST)</b></td>
              <td colspan="2">https://grupo3.pythonanywhere.com/api_actualizar_persona</td>
            </tr>
            <tr>
              <td colspan="2">
                {
                "apellidos": "Puelles Diaz",<br>
                "dni": "73221822",<br>
                "fecha_ingreso": "Fri, 03 Mar 2023 00:00:00 GMT",<br>
                "fecha_salida": "Thu, 30 Mar 2023 00:00:00 GMT",<br>
                "nombres": "Jayr",<br>
                "numero_telefono": "937602402",<br>
                "persona_id": 12,<br>
                "sexo": "M"<br>
                }</td>
                <td colspan="2">El cuerpo de solicitud,
                    manifiesta todos los elementos
                    a pedir con ocho campos, a través
                    de un JSON array. Aqui se coloca id de la persona a actualizar.<br>
                    Donde <br>
                    apellidos: Son los apellidos de la persona<br>
                    dni: Es el numero(8 digitos) del documento nacional de identidad de la persona<br>
                    fecha_ingreso: Es la fecha en la que ingreso la persona al hotel<br>
                    fecha_salida: Es la fecha en la que salio la persona del hotel<br>
                    nombres: Son los nombres de la persona<br>
                    numero_telefono: Es el numero de telefono(9 digitos) de la persona<br>
                    persona_id: Es la identificacion de la persona<br>
                    sexo: Es el sexo de la persona<br>
                </td>
            </tr>
            <tr>
              <td colspan="4"> <b>RESPONSE</b></td>
            </tr>
            <tr>
              <td colspan="2">{
                "Mensaje": "Persona acualizada correctamente"
            }</td>
              <td colspan="2">El cuerpo de respuesta,
                manifiesta que la persona ha sido
                actualizada correctamente.
                Donde
                Mensaje: Es la respuesta de la
                lógica de negocio de persona.</td>
            </tr>
          </table>
              <h2>Eliminar persona</h2>
              <p>Este método te permite eliminar una persona.</p>
              <table class="custom-table">
                <tr>
                  <td colspan="2"> <b>HTTP Request (POST)</b></td>
                  <td colspan="2">https://grupo3.pythonanywhere.com/api_eliminarpersona</td>
                </tr>
                <tr>
                  <td colspan="2">
                    {
                    "id":18 <br>
                    }</td>
                    <td colspan="2">El cuerpo de solicitud,
                        manifiesta todos los elementos
                        a pedir con un campo. Aqui se coloca id de la persona a eliminar.<br>
                        Donde <br>
                        id: Es la identificación de la persona. <br>
                </tr>
                <tr>
                  <td colspan="4"> <b>RESPONSE</b></td>
                </tr>
                <tr>
                  <td colspan="2">{
                    "Mensaje": "Persona eliminada correctamente"
                }</td>
                  <td colspan="2">El cuerpo de respuesta,
                    manifiesta que la persona ha sido
                    eliminada correctamente.
                    Donde
                    Mensaje: Es la respuesta de la
                    lógica de negocio de persona.</td>
                </tr>
        </table>

         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var currentURL = window.location.href;
            $('.navbar2-item').each(function() {
                if (currentURL.indexOf($(this).attr('href')) > -1) {
                    $(this).addClass('active');
                }

            });




/*function adjustBoardSize() {
    var boardSize = Math.min($(window).width(), $(window).height()) * 0.5;
    $("table").css("width", boardSize);
    $("table").css("height", boardSize);
  }

  adjustBoardSize();*/
        });
    </script>
</body>
</section>
{% endblock %}
