{% extends "maestra.html" %}
{% block titulo %}
Editar detalle
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar detalle</h3>
            <form action="{{url_for('actualizar_detalle')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <label for="servicios_id">Servicio ID:</label>
                <input value="{{detalle[0]}}" required type="numeric" class="input" placeholder="servicios_id" name="servicios_id" id="servicios_id">
                <label for="comprobante_id">Comprobante ID:</label>
                <input value="{{detalle[1]}}" required type="text" class="input" placeholder="comprobante_id" name="comprobante_id" id="comprobante_id">
                <label for="monto">Monto:</label>
                <input value="{{detalle[2]}}" required type="number" class="input" placeholder="monto" name="monto" id="monto">

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('detalle')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}