{% extends "maestra.html" %}
{% block titulo %}
Editar transaccion
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar transaccion</h3>
            <form action="{{url_for('actualizar_transaccion')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{transaccion[0]}}">
                <label for="fecha_registro">Fecha registro:</label>
                <input value="{{transaccion[1]}}" required type="date" class="input" placeholder="Fecha registro" name="fecha_registro" id="fecha_registro">
                <label for="hora_registro">Hora registro:</label>
                <input value="{{transaccion[2]}}" required type="time" class="input" placeholder="Hora registro" name="hora_registro" id="hora_registro">
                <label for="tipo_transaccion">Tipo transaccion:</label>
                <select required class="select" name="tipo_transaccion" id="tipo_transaccion">
                    <option value="E" {% if transaccion[3] == 'Efectivo' %}selected{% endif %}>Efectivo</option>
                    <option value="T" {% if transaccion[3] == 'Tarjeta' %}selected{% endif %}>Tarjeta</option>
                    <option value="Y" {% if transaccion[3] == 'Yape' %}selected{% endif %}>Yape</option>
                </select>
                <label for="fecha_entrada">Fecha entrada:</label>
                <input value="{{transaccion[4]}}" required type="date" class="input" placeholder="Fecha entrada" name="fecha_entrada" id="fecha_entrada">
                <label for="hora_entrada">Hora entrada:</label>
                <input value="{{transaccion[5]}}" required type="time" class="input" placeholder="Hora entrada" name="hora_entrada" id="hora_entrada">
                <label for="fecha_salida">Fecha salida:</label>
                <input value="{{transaccion[6]}}" required type="date" class="input" placeholder="Fecha salida" name="fecha_salida" id="fecha_salida">
                <label for="hora_salida">Hora salida:</label>
                <input value="{{transaccion[7]}}" required type="time" class="input" placeholder="Hora salida" name="hora_salida" id="hora_salida">
                <label for="habitacion_id">Nº Habitacion:</label>
                <select required class="select" name="habitacion_id" id="habitacion_id">
                    {% for habitacion in habitacion %}
                        {% if habitacion[0] == transaccion[8] %}
                            <option value="{{ habitacion[0] }}" selected>{{ habitacion[0] }}</option>
                        {% else %}
                            <option value="{{ habitacion[0] }}">{{ habitacion[0] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="persona_id">Dni:</label>
                <select required class="select" name="persona_id" id="persona_id">
                    {% for personas in personas %}
                        {% if personas[0] == transaccion[9] %}
                            <option value="{{ personas[0] }}" selected>{{ personas[1] }}</option>
                        {% else %}
                            <option value="{{ personas[0] }}">{{ personas[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('transaccion')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}

