{% extends "maestra.html" %}
{% block titulo %}
Editar detalle_alojamiento
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar detalle_alojamiento</h3>
            <form action="{{url_for('actualizar_detalle_alojamiento')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{detalle_alojamiento[0]}}">
                <label for="transaccion_id">TransaccionId:</label>
                <select required class="select" name="transaccion_id" id="transaccion_id">
                    {% for transaccion in transaccion %}
                        {% if transaccion[0] == detalle_alojamiento[1] %}
                            <option value="{{ transaccion[0] }}" selected>{{ transaccion[0] }}</option>
                        {% else %}
                            <option value="{{ transaccion[0] }}">{{ transaccion[0] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="persona_id">Dni:</label>
                <select required class="select" name="persona_id" id="persona_id">
                    {% for personas in personas %}
                        {% if personas[0] == detalle_alojamiento[2] %}
                            <option value="{{ personas[0] }}" selected>{{ personas[1] }}</option>
                        {% else %}
                            <option value="{{ personas[0] }}">{{ personas[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>


                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('detalle_alojamiento')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}