{% extends "maestra.html" %}
{% block titulo %}
Editar habitacion
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar habitacion</h3>

            <form action="{{url_for('actualizar_habitacion')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{habitacion[0]}}">
                <label for="estado">Estado:</label>
                <select required class="select" name="estado" id="estado">
                    <option value="D" {% if habitacion[1] == 'Disponible' %}selected{% endif %}>Disponible</option>
                    <option value="O" {% if habitacion[1] == 'Ocupada' %}selected{% endif %}>Ocupada</option>
                    <option value="M" {% if habitacion[1] == 'Mantenimiento' %}selected{% endif %}>Mantenimiento</option>
                </select>
                <label for="descripcion">Descripcion:</label>
                <input value="{{habitacion[2]}}" required type="text" class="input" placeholder="Descripcion" name="descripcion" id="descripcion">
                <label for="categoria_id">Categoria</label>
                <select required class="select" name="categoria_id" id="categoria_id">
                    {% for categoria in categorias %}
                        {% if categoria[0] == habitacion[3] %}
                            <option value="{{ categoria[0] }}" selected>{{ categoria[1] }}</option>
                        {% else %}
                            <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('habitacion')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
