<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de hotel</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link
    rel="shortcut icon"
    href="img/trick-treat5-img.png"
    type="image/x-icon"
  />
  </head>
  <body>
    <!-- #region ENCABEZADO -->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">
          <img
            src="{{ url_for('static', filename='hotel-logo.png') }}"
            alt=""
            class="nav__logo-img"
          />
          Hotel Inova
        </a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">Inicio</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">Habitaciones</a>
            </li>
            <li class="nav__item">
              <a href="#rooms" class="nav__link">Servicios</a>
            </li>
            <li class="nav__item">
            <a href="{{url_for('habitacion')}}" class="nav__link">Transacciones</a>
            </li>
            <a href="#" class="button button--ghost">Soporte</a>
          </ul>
          <div class="nav__close" id="nav-close">
            <i class="bx bx-x"></i>
          </div>
          <img src="img/nav-img.png" alt="" class="nav__img" />
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>
      </nav>
    </header>
    <!-- #endregion -->
    <!-- #region Principal-->
    <main class="main">
      <!--Menu inicial-->
      <section class="home container" id="home">
        <div class="swiper home-swiper">
          <div class="swiper-wrapper">
            <!--1 2 3-->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img src="{{ url_for('static', filename='hotel.webp') }}" alt="" class="home__img" />
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Suite Deluxe</h4>
                    <span class="home__details-subtitle">
                      La experiencia más lujosa</span
                    >
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">Habitación de ensueño</h3>
                  <h1 class="home__title">
                    ¡Disfruta de un descanso <br />

                    inolvidable!
                  </h1>
                  <p class="home__description">
                    Nuestra Suite Deluxe ofrece una experiencia de lujo incomparable.
                    Disfruta de amplios espacios, una cama king-size, jacuzzi privado y
                    vistas panorámicas de la ciudad. ¡Relájate y déjate consentir en
                    nuestras instalaciones de primer nivel!
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Reservar ahora</a>
                    <a href="#" class="button--link button--flex">
                      Ver más fotos
                      <i class="bx bx-right-arrow-alt button__icon"></i
                    ></a>
                  </div>
                </div>
              </div>
            </section>
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img
                    src="{{ url_for('static', filename='espacio.jpg') }}"
                    alt=""
                    class="home__img"
                  />
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Ambiente magnífico</h4>
                    <span class="home__details-subtitle">
                      Vista privilegiada al mar</span
                    >
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">Comodidad para todos</h3>
                  <h1 class="home__title">
                    ¡Un espacio <br />

                    acogedor y divertido!
                  </h1>
                  <p class="home__description">
                    Nuestra Habitación Familiar es perfecta para disfrutar de unas
                    vacaciones en familia. Con camas cómodas, área de juegos para los
                    niños y todas las comodidades necesarias, aseguramos momentos de
                    diversión y descanso para todos. ¡Crea recuerdos inolvidables en
                    nuestro hotel!
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Reservar ahora</a>
                    <a href="#" class="button--link button--flex"
                      >Explorar servicios
                      <i class="bx bx-right-arrow-alt button__icon"></i
                    ></a>
                  </div>
                </div>
              </div>
            </section>
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img
                    src="{{ url_for('static', filename='suit.jpg') }}"
                    alt=""
                    class="home__img"
                  />
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Suite Presidencial</h4>
                    <span class="home__details-subtitle"
                      >Exclusividad y lujo</span
                    >
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">Una experiencia única</h3>
                  <h1 class="home__title">
                    ¡Vive como un rey <br />

                    en nuestra suite!
                  </h1>
                  <p class="home__description">
                    La Suite Presidencial es el pináculo del lujo y la exclusividad.
                    Con un diseño elegante, amplios espacios, servicio de mayordomo
                    personalizado y todas las comodidades imaginables, garantizamos
                    una estadía inigualable. ¡Permítenos consentirte como te mereces!
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Reservar ahora</a>
                    <a href="#" class="button--link button--flex"
                      >Ver opiniones
                      <i class="bx bx-right-arrow-alt button__icon"></i
                    ></a>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>


      <!--Categirias-->
      <!-- Categorías -->
<section class="section category">
<section class="section about" id="about"></section>
  <h2 class="section__title">
    Nuestras Habitaciones <br />
    Categorías
  </h2>

  <div class="category__container container grid">
    <div class="category__data">
      <img
        src="{{ url_for('static', filename='habitacionsta.jfif') }}"
        alt=""
        class="category__img"
      />
      <h3 class="category__title">Habitaciones Estándar</h3>
      <p class="category__description">
        Disfruta de nuestras habitaciones estándar, cómodas y acogedoras.
      </p>
    </div>

    <div class="category__data">
      <img
       src="{{ url_for('static', filename='habisut.jpg') }}"
        alt=""
        class="category__img"
      />
      <h3 class="category__title">Suites de Lujo</h3>
      <p class="category__description">
        Sumérgete en el lujo y la elegancia de nuestras suites de lujo.
      </p>
    </div>

    <div class="category__data">
      <img
       src="{{ url_for('static', filename='familiar.webp') }}"
        alt=""
        class="category__img"
      />
      <h3 class="category__title">Habitaciones Familiares</h3>
      <p class="category__description">
        Espaciosas habitaciones diseñadas para familias que viajan juntas.
      </p>
    </div>
  </div>
</section>

<!-- Acerca del hotel -->
  <div class="about__container container grid">
    <div class="about__data">
      <h2 class="section_title about_title">
        Acerca de nuestro Hotel
      </h2>
      <p class="about__description">
        Nuestro hotel es el lugar perfecto para disfrutar de unas vacaciones inolvidables. Con una ubicación privilegiada, instalaciones modernas y un servicio excepcional, nos esforzamos por brindar a nuestros huéspedes una experiencia única. Ya sea que estés aquí por negocios o por placer, nuestro equipo estará encantado de hacerte sentir como en casa.
      </p>
      <a href="#" class="button">Saber más</a>
    </div>

    <img src="{{ url_for('static', filename='acerca.webp') }}" alt="" class="about__img" />
  </div>
</section>

<!-- Habitaciones destacadas -->
<section class="section rooms" id="rooms">
  <h2 class="section__title">Servicios Detacados</h2>

  <div class="rooms__container container grid">
    <div class="rooms__content">
      <img
        src="{{ url_for('static', filename='serv.jpg') }}"
        alt=""
        class="rooms__img"
      />
      <h3 class="rooms__title">Restaurante</h3>
      <span class="rooms__price"> En nuestros Hoteles podrás disfrutar exquisitos y variados desayunos y almuerzos al estilo bufet. Al llegar la noche podrás compartir con los tuyos de cenas a la carta, con variadas opciones que te permitirán degustar los sabores del mundo y preparados con los más frescos insumos locales..</span>
      <br>
      <a href="#" class="button rooms__button">Leer más</a>
    </div>

    <div class="rooms__content">
      <img
        src="{{ url_for('static', filename='room2-img.png') }}"
        alt=""
        class="rooms__img"
      />
      <h3 class="rooms__title">Recreación</h3>
      <span class="rooms__price">En Decameron encuentras diversión para todos, te ofrecemos una amplia variedad de actividades, para todas las edades y gustos, aeróbicos, yoga, tenis, clases de baile, manualidades, juegos, trivias y concursos, deportes náuticos no motorizados y todo el entretenimiento para que vivas unas vacaciones inolvidables.</span>
      <br>
      <a href="#" class="button rooms__button">Leer más</a>
    </div>

    <div class="rooms__content">
      <img
        src="{{ url_for('static', filename='room3-img.png') }}"
        alt=""
        class="rooms__img"
      />
      <h3 class="rooms__title">Bar</h3>
      <span class="rooms__price">Acompaña tus vacaciones con las bebidas que tú desees, con nosotros puedes disfrutar bares abiertos en playas y piscinas en donde podrás encontrar cocteles con y sin alcohol, jugos de frutas, gaseosas y más.

        ¡Si estás visitando un destino internacional, anímate a probar nuevos sabores de nuestra variada oferta en coctelería!</span>
      <br>
        <a href="#" class="button rooms__button">Leer más</a>
    </div>
  </div>
</section>

      <!--Descuentos-->
     <!-- Descuento -->
<section class="section discount">
  <div class="discount__container container grid">
    <div class="discount__data">
      <h2 class="discount__title">
        50% de descuento <br />
        en nuevos servicios
      </h2>
      <a href="#" class="button">Ir a nuevos servicios</a>
    </div>

    <img src="{{ url_for('static', filename='servicios.jpg') }}" alt="" class="discount__img" />
  </div>
</section>

<!--Nuevos items-->
<section class="section new" id="new">
  <h2 class="section__title">Los recién llegados</h2>
  <div class="new__container container">
    <div class="swiper new-swiper">
      <div class="swiper-wrapper">
        <div class="new__content swiper-slide">
          <div class="new__tag">New</div>
          <img src="{{ url_for('static', filename='spa.jpg') }}" alt="" class="new__img" />
          <h3 class="new__title">Spa</h3>
          <span class="new__subtitle">Accessory</span>

          <div class="new__prices">
            <span class="new__price">S/11.99</span>
            <span class="new__discount">S/21.99</span>
          </div>
        </div>

        <div class="new__content swiper-slide">
          <div class="new__tag">New</div>
          <img src="{{ url_for('static', filename='buceo.jpg') }}" alt="" class="new__img" />
          <h3 class="new__title">Buceo</h3>
          <span class="new__subtitle">Accessory</span>

          <div class="new__prices">
            <span class="new__price">S/24.99</span>
            <span class="new__discount">S/29.99</span>
          </div>
        </div>

        <div class="new__content swiper-slide">
          <div class="new__tag">New</div>
          <img src="{{ url_for('static', filename='recorrido.jpg') }}" alt="" class="new__img" />
          <h3 class="new__title">Recorrido por los Acantilados</h3>
          <span class="new__subtitle">Accessory</span>

          <div class="new__prices">
            <span class="new__price">S/34.99</span>
            <span class="new__discount">S/44.99</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Suscribirse -->
<section class="section newsletter">
  <div class="newsletter__container container">
    <h2 class="section__title">Nuestro Boletín</h2>
    <p class="newsletter__description">
      Promoción de nuevos productos y ventas. Directamente en tu correo electrónico.
    </p>

    <form action="" class="newsletter__form">
      <input
        type="text"
        placeholder="Ingresa tu correo electrónico"
        class="newsletter__input"
      />
      <button class="button">Suscribirse</button>
    </form>
  </div>
</section>
</main>

<!-- Pie de página -->
<footer class="footer section">
  <div class="footer__container container grid">
    <div class="footer__content">
      <a href="#" class="footer__logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="" class="footer__logo-img" />
        Hotel
      </a>

      <p class="footer__description">
        Disfruta de la noche más inolvidable <br />
        de tu vida.
      </p>

      <div class="footer__social">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="footer__social-link"
        >
          <i class="bx bxl-facebook"></i>
        </a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="footer__social-link"
        >
          <i class="bx bxl-instagram-alt"></i>
        </a>
        <a
          href="https://twitter.com/"
          target="_blank"
          class="footer__social-link"
        >
          <i class="bx bxl-twitter"></i>
        </a>
      </div>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Acerca de</h3>

      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">Nosotros</a>
        </li>
        <li>
          <a href="#" class="footer__link">Características</a>
        </li>
        <li>
          <a href="#" class="footer__link">Noticias</a>
        </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Nuestros Servicios</h3>

      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">Precios</a>
        </li>
        <li>
          <a href="#" class="footer__link">Descuentos</a>
        </li>
        <li>
          <a href="#" class="footer__link">Modo de envío</a>
        </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Nuestra Empresa</h3>

      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">Blog</a>
        </li>
        <li>
          <a href="#" class="footer__link">ubicación</a>
        </li>
        <li>
          <a href="#" class="footer__link">Nuestra misión</a>
        </li>
      </ul>
    </div>
  </div>

  <span class="footer__copy">&#169; Grupo_03</span>

  <img src="img/footer1-img.png" alt="" class="footer__img-one" />
  <img src="img/footer2-img.png" alt="" class="footer__img-two" />
</footer>

    <!-- #endregion -->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>

    <!--Scroll para que se revelen los elementos de forma suave-->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <!--Deslizar elementos en una lista-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>