{% extends "maestra.html" %}
{% block titulo %} Servicios {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Servicio</h3>
            <a href="{{url_for('formulario_agregar_servicios')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servicio in servicios %}
                    <tr>
                        <td>{{servicio[1]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en servicio[0] #}
                            <a href="{{url_for('editar_servicios', id=servicio[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_servicios')}}" method="POST">
                                <input type="hidden" name="id" value="{{servicio[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}