  /* Estilos generales */
  @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  background: linear-gradient(90deg, hsl(255, 100%, 65%) 0%, hsl(249, 100%, 41%) 100%);
    background-size: cover;
    padding-left: 5%;
  padding-right: 5%;
    padding-top: 58px; /* Ajusta este valor según tu preferencia */
      font-family: "Poppins", sans-serif;
}
:root {
  --cor-background: #212123;
  --cores-dancantes: rgb(76, 217, 105), rgb(52, 170, 220), rgb(185, 184, 239);

}

h3 {
         padding: 10px;
    display: inline-block;
    background-color: rgba(251, 251, 251, 0.9);
    border-radius: 8px;
  border-color:  #209cee;

}



/* Estilos de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
     overflow-x: auto;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 10px;
        white-space: nowrap; /* Evita el salto de línea */

}



/* Estilos del botón "Editar" */
.button.is-info {
    margin-right: 5px;
    background-color: #209cee;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
}

.button.is-info:hover {
    background-color: #1982d9;
    transform: scale(1.05);
}

/* Estilos del botón "Eliminar" */
.button.is-danger {
    margin-right: 5px;
    background-color: #ff3860;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;

}

/* Estilos del botón "Agregar" */
.button.is-success {
    background-color: #23d160;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.button.is-success:hover {
    background-color: #22c65b;
    transform: scale(1.05);
}

.button.is-danger:hover {
    background-color: #ff2447;
    transform: scale(1.05);
}

/* Estilos de la barra de navegación */



.navbar-item {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 2vh;
    flex-grow: 1;
    flex-basis: calc(100% / var(--navbar-items)); /* Cambio: ajusta el tamaño base */
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}



@keyframes coresDancantes {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}






form {
    color: #000000;
    align-items: center;
    text-align: left;
    font-weight: bold;
    position: relative;
}

form label {
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 400px;
    height: 20px;
    /* Ajusta el margen inferior según tus necesidades */
}
form input,
form select {
  color: #000000;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #555;
  box-sizing: border-box; /* Añadido para ajustar el ancho total */
}




.navbar-item:first-child {
    margin-top: 20px;
}

.navbar {
    background-color: #3f51b5c8;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 20px;
    right: 20px;
    width: 130px;
    height: 95%;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    filter: contrast(1.2) saturate(1.5);
    /* Ajusta los valores de contraste y saturación según tu preferencia */
}

.navbar2 {
  transform: translateY(100%);
  padding: 10px;
  height: 25px;
  position: absolute;
  top: -35px;
  left: 180px;
  right: 20px;
  border-radius: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  background: linear-gradient(to right, var(--cores-dancantes));
  animation: coresDancantes 3s linear infinite;
  box-shadow: 0 0 10px var(--cores-dancantes);
  justify-content: center;
}

.navbar2-item {
  text-decoration: none;
  padding: 11px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex: 1;
}



.navbar2-item.active,
.navbar2-item:hover {
  background-color: white;
  border-radius: 100px;
}

.navbar-item.active,
.navbar-item:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 100px;
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.5); /* Cambia el valor de "10px" si deseas un efecto más pronunciado */
}


.navbar2-start{

  background-color: var(--cor-background);
      border-radius: 20px;
  width: 100%;
  height: 100%;

    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

.select option {
  padding: 10px;
  color: #555;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}






.button.is-primary {
    background-color: #61b8ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.button.is-primary:hover {
    background-color: #2196f3;
    transform: scale(1.05);
}



/* Animaciones adicionales */

.section {
    background-color: #ffffffbb;
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 55.3%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgb(255, 233, 186);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
 overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.section::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
.section::-webkit-scrollbar-thumb {
    background-color: #888;
}

.section::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}


.section_docu {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 9px;
    /* Ajusta el tamaño del navegador vertical */
  box-shadow: 0px 0px 20px rgb(255, 233, 186);

}



 .custom-table {
    width: 100%;
    border-collapse: collapse;

  }

  .custom-table td {
    border: 2px solid black;
    padding: 8px;
  }
  .h1{
    color:blue;
  }


